In [12]:
import sqlite3

In [13]:
conexao = sqlite3.connect("DB_Python_SQLite.db")
print("DB Criado com sucesso.")

DB Criado com sucesso.

In [14]:
cursor = conexao.cursor()

In [4]:
clientes = '''CREATE TABLE clientes(id_cliente INTEGER PRIMARY KEY AUTOINCREMENT,
                                    nome VARCHAR(100),
                                    nascimento DATE,
                                    cpf VARCHAR(15))'''
                                    
print("Tabela criada com sucesso!")
cursor.execute(clientes)
conexao.commit()

Tabela criada com sucesso!

In [5]:
inserir_dados = '''INSERT INTO clientes(nome, nascimento, cpf)
                                VALUES('Diana', '02/12/1988', '111.333.620-77')'''
print("Dados inseridos com sucesso!")
cursor.execute(inserir_dados)
conexao.commit()

Dados inseridos com sucesso!

In [6]:
def db_insert(nome, nascimento, cpf):
	return """
	INSERT INTO clientes(nome, nascimento, cpf)
			VALUES('{}', '{}', '{}')
		""".format(nome, nascimento, cpf)
print("Dados inseridos com sucesso!")
cursor.execute(db_insert('Paula', '10/07/1988', '333.444.555-22'))
conexao.commit()

Dados inseridos com sucesso!

In [15]:
cursor.close()
conexao.close()
print("conexão encerrada")

conexão encerrada